<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.num.myspeedtest"
    android:installLocation="internalOnly" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_my_speed_test"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.activities.TermsAndConditionsActivity"
            android:label="@string/title_activity_terms_and_conditions"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.ThroughputActivity"
            android:label="@string/title_activity_throughput"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.activities.ThroughputHistoryActivity"
            android:label="@string/title_activity_throughput_history"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.activities.LatencyActivity"
            android:label="@string/title_activity_latency"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.activities.DataUsageActivity"
            android:label="Data Usage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.activities.TracerouteActivity"
            android:label="@string/title_activity_traceroute"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.activities.ApplicationDetailActivity"
            android:label="@string/title_activity_application_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.activities.AboutUsActivity"
            android:label="@string/title_activity_about_us" >
        </activity>
        <activity
            android:name=".view.activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <service
            android:name=".controller.services.BackgroundService"
            android:enabled="true" >
        </service>
    </application>

</manifest>
